@model IEnumerable<string>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#AddUser"><i class="glyphicon glyphicon-plus"></i>&nbsp;添加用户&nbsp;</button>
<div class="modal fade" id="AddUser" tabindex="-1" role="document">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加用户</h4>
            </div>
            <form class="form-horizontal" method="post" action="/Admin/CreateUser">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="sn" class="control-label col-lg-3">姓：</label>
                        <div class="col-lg-8">
                            <input type="text" name="Sn" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="givenName" class="control-label col-lg-3">名：</label>
                        <div class="col-lg-8">
                            <input type="text" name="GivenName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="initial" class="control-label col-lg-3">缩写：</label>
                        <div class="col-lg-8">
                            <input type="text" name="Initial" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sAMAccountName" class="control-label col-lg-3">登录名：</label>
                        <div class="col-lg-8">
                            <input type="text" name="sAMAccountName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-lg-3">是否永不过期:</label>
                        <div class="col-lg-8">
                            <label class="radio-inline">
                                <input type="radio" name="Flag" value="True" />是
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="Flag" value="False" />否
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-lg-3">期限:</label>
                        <div class="col-lg-8">
                            <div class="input-group">
                                <input type="text" class="form-control" name="Year" />
                                <div class="input-group-addon">年</div>
                                <input type="text" class="form-control" name="Month" />
                                <div class="input-group-addon">月</div>
                                <input type="text" class="form-control" name="Day" />
                                <div class="input-group-addon">天</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Group" class="control-label col-lg-3">隶属于：</label>
                        <div class="col-lg-8">
                            <select class="form-control">
                                @foreach (var entry in Model)
                                {
                                   <option name="Group">@(entry)</option>
                                }
                            </select>
                           
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-8 col-lg-offset-3">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>取消</button>
                        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>确定</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>