@{
    ViewBag.Title = "组群";
    Layout = "~/Views/Admin/_Layout.cshtml";
    Dictionary<string, List<string>> DICT = ViewBag.DICT;
    List<string> List = ViewBag.List;
}

@{
    Html.RenderPartial("AddGroup",List);
    Html.RenderPartial("AddUserGroup");
    Html.RenderPartial("Search");
}

<hr />
<ul>
    @foreach (var key in DICT.Keys)
    {
        <li>
            @(key)
            @{
                var list = DICT[key];
                <ul>
                    @foreach (var item in list)
                    {
                        <li>@(item)</li>
                    }
                </ul>
            }
        </li>
    }
</ul>


