@{
    ViewBag.Title = "组群";
    Layout = "~/Views/Admin/_Layout.cshtml";
    Dictionary<string, List<string>> DICT = ViewBag.DICT;
    LoowooTech.Jurisdiction.Models.Group Tree = ViewBag.Tree;
    List<string> List = ViewBag.List;
}

@{
    Html.RenderPartial("AddGroup",List);
    Html.RenderPartial("AddUserGroup");
}

<hr />

<div id="tree1"></div>

<script>
    $.getJSON(
        "/Admin/GJson",
        function (data) {
            var a = [data];
            
            $("#tree1").tree({
                data:a
            })
        }
        )
</script>

@*<ul>

    
    @{
        Html.RenderPartial("Tree", Tree);
    }
</ul>*@



