@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<div class="col-lg-6">
    <blockquote>
        <p><i class="glyphicon glyphicon-user"></i>&nbsp; <a href="/Admin/Userlist">用户</a></p>
        <small>查看所有用户的姓名、账号、过期时间以及权限组的信息</small>
    </blockquote>
</div>
<div class="col-lg-6">
    <blockquote>
        <p><i class="glyphicon glyphicon-plane"></i>&nbsp;<a href="/Admin/Group">组群</a></p>
        <small>查看所有组以及组之间的关系</small>
    </blockquote>
</div>
<div class="col-lg-6">
    <blockquote>
        <p><i class="glyphicon glyphicon-cog">&nbsp;</i><a href="/Admin/Impower">授权</a></p>
        <small>查看当前域中授权信息以及对用户的授权</small>
    </blockquote>
</div>
