@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var action = Request.RequestContext.RouteData.Values["action"].ToString();
}

@section nav{
    <li class="@(action=="Index"?"active":null)"><a href="/Member/Index"><i class="glyphicon glyphicon-home"></i>&nbsp;首页</a></li>
    <li class="@(action=="Apply"?"active":null)"><a href="/Member/Apply"><i class="glyphicon glyphicon-flag"></i>&nbsp;申请权限</a></li>
    <li class="@(action=="History"?"active":null)"><a href="/Member/History"><i class="glyphicon glyphicon-road"></i>&nbsp;申请历史</a></li>
}

@RenderBody()
